@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@300&family=Roboto&display=swap');
body{
	font-family: 'Roboto', sans-serif; font-size: 16px; color: #666666; margin:0
}
.top-bar{
	width:100%; height: 50px; line-height: 50px
}

.top-bar .right a{color: white}
.top-bar .right a:hover{
	color:#FFC113}
.navbar .navbar-collapse li a:hover{
	color:#056CB6
}

.navbar .nabar-nav .nav-item .nav-link{
	padding: 8px 20px; border-radius: 20px}
.navbar .nabar-nav .nav-item .nav-link:hover{
	color: #056CB6; background-color: #FFC113
}
.navbar .nabar-nav .nav-item .dropdown-menu{
	background-color: #056CB6; padding-top: 0; padding-bottom: 0; width: 220px
}
.navbar .nabar-nav .nav-item .dropdown-menu .dropdown-item{
	color:#056CB6; transition: all 0.5s
}
.navbar .nabar-nav .nav-item .dropdown-menu li{ border-bottom: 1px solid white
}
.navbar .nabar-nav .nav-item .dropdown-menu .dropdown-item:hover{
	background-color: #FFC113; padding-left: 25px
}
@media(
	max-width:667px
	)
{.navbar .nabar-nav .nav-item{text-align: center}}
.navbar .nabar-nav .nav-item .dropdown-menu{margin: 0 auto}

main{
	width:100%; min-height:800px
}
#client .hinh {
  width: 100%;
  position: relative;
}
#client .before {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  background-color: #BEBEBE;
}
#client .after {
  position: absolute;
  left: 50%;
  top: 0;
  padding: 10px;
  background-color: #BEBEBE;
}
#cam-nhan .noidung {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
}
#cam-nhan .noidung img {
  width: 50px;
  height: auto;
}

footer .nav .nav-item .nav-link{color:white
	
}

footer .nav .nav-item .nav-link:hover{
	color:#FFC113
}
.bottom-bar{
	width:100%; height: 50px; line-height: 50px; color: white; background-color: #FFC113; text-align: center
}

#banner{width: 100%; min-height: 400px}
#about .btn{background-color:#056CB6; color:white}
#about .btn:hover{color:#FFC113}
#footer .btn:hover{color:#056CB6 }
#footer ul li a{text-decoration:none; color:white}
#cam-nhan .noidung{
	text-align: center; display: flex; flex-direction: column; justify-content: center; align-content: center
}
#service a{text-decoration: none}
#tintuc a{
	text-decoration: none; color: #606060}
#tintuc a:hover{
	color:#FFC113
}
#why{width: 100%; min-height: 480px; background: url(../images/why.jpg);background-repeat: no-repeat; background-position: center top; background-size: cover}
#banner{width: 100%; min-height: 353px; background: url("../images/pageheader.png");background-repeat: no-repeat; background-position: center top; background-size: cover}
#banner .btn{
	background-color: #FFC113; color: white
}
#banner .btn:hover{
	color: #056CB6
}
#contact a{text-decoration: none
}
#contact .btn{background-color: #056CB6;padding:8px 15px;color: white;border-radius: 6px;cursor: pointer; border: none}
#footer .btn:hover{color:#056CB6 }
footer ul li a{text-decoration:none; color:white}
footer a{text-decoration: none}
#footer .container{width:80%}
